body{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-fitness-exercise-run-banner-background-image_255468.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}